[Unit]
Description=Get FRU ID data and Device Tree from Motherboard
After=syslog.target

[Service]
ExecStart=/usr/sbin/mcst-fruid
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=basic.target
